<%= div_for(quote) do %>
	
    <h4><strong style="color: lightblue;"><%= link_to quote.user.company.companyname,stall_path(quote.user.company.stall) %></strong>:             <%= quote.body %></h4>
 
  


  

<% end %>
