<p id="notice"><%= notice %></p>

<p>
  <strong>My query:</strong>
  <%= @quote.my_query_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @quote.body %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @quote.seller %>
</p>

