<%= div_for(reply) do %>
	
    <h4 ><strong style="color: lightblue;"><%= link_to reply.user.company.companyname,stall_path(reply.user.company.stall) %></strong>:             <%= reply.body %></h4>
 
  


  

<% end %>
