<p id="notice"><%= notice %></p>

<p>
  <strong>My doubt:</strong>
  <%= @reply.my_doubt_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @reply.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @reply.seller %>
</p>

