
<ul class="com">
 <li><strong><%= comment.user.email  %></strong> <small><span class="date"><%= time_ago_in_words(comment.created_at) %> ago :  </span></small></li></br>
 
  <li> <%= comment.body %></li></br>
 </ul>




