<%= div_for(comment) do %>
	<div class="comments_wrapper clearfix">
		<div class="pull-left">
			
			<p style="font-size: 15px;"><strong style="color: lightblue;"> <%= comment.user.email  %></strong> :<%= comment.body %></p>
		
		</div>


	</div>
<% end %>