

<div class="row2">
<div class="column2 side2">
</div>
<div class="column2 middle2">


<p id="notice"><%= notice %></p>






 <table>
  <tr>
    <th>Destination</th>
    <th>Doubt details</th>
    <th>Reply from Seller</th>
  </tr>


<% if current_user.company.present? %>
<% if current_user.company.stall.present? -%>
   <% @my_doubts.each do |my_doubt| %>
   <% if current_user.company.stall.destination == my_doubt.destination %>

  <tr>
    <td><%= my_doubt.destination %></td>
    <td><%= my_doubt.doubt_details %></td>
    <td><%= link_to my_doubt.replies.count ,my_doubt %></td>

  </tr>

 

  <% end %>
  <% end %>
  <% end %>
  <% end %>
  </table>
  </div>
 
<div class="column2 side2">
</div>
</div>