
<% if user_signed_in? %>
<button type="button" class="btn btn-info"> <%= link_to 'promotions', promotions_path %></button>
<button type="button" class="btn btn-info"> <%= link_to 'Discussions',topics_path %></button>
 <li><%= link_to "My Doubt", my_doubts_path  %></li>
<li><%= link_to "My Queries", my_queries_path  %></li>
<% end %>