<div class="tour">
<ul>
<% if current_user.company.present? %>
	<% if current_user.company.stall.present?-%>
		<li><%= link_to 'Tour operator', stall_path(current_user.company.stall) %></li>
	
	<% else %>
 		<li><%= link_to 'Tour operator', new_stall_path %></li>
	<% end %>
<% else %>
		<li><%= link_to 'Tour operator', new_company_path %></li>

<% end %>
</ul>
</div>