<%= div_for(commentreply) do %>
	<div class="comments_wrapper clearfix">
		<div class="pull-left">
			
			<p style="font-size: 15px;"><strong style="color: lightblue;"> <%= commentreply.user.email  %></strong> :<%= commentreply.body %></p>
		
		</div>


	</div>

<% end %>