




 <% if seller_signed_in? -%>
 
  <%= link_to ' about', new_about_path %>
   

<% end %> 



<% @abouts.each do |about| %>


  <div class="link row clearfix">
       
    
     
     <h2 style="text-align: center;">
      <%= link_to about.write, about %>
     </h2>
 </div>

 <% end %>


 <%= link_to 'new', new_about_path %>

 