
 <% if user_signed_in? -%>
 <% if current_user.company.present? %>
<% if current_user.company.stall.present? -%>

  <%= link_to ' Add Your Broucher', new_broucher_path %>
<% end %> 
<% end %> 
 
   

<% end %> </br>
<% @brouchers.each do |broucher| %>


 
    </br><table>
    <tr>   
    <th> <%=  broucher.title %></th>
    </tr>
    <tr>
   <td > <%= link_to "Download", broucher.document_url %></td>
 	</tr>
 	</table></br>
      
  
     

   


 <% end %>

 
  <%= link_to 'Back', stall_path(@stall) %>
   
