<% if seller_signed_in? -%>

<ul class="nav navbar-nav navbar-left">
 
 <li> <%= link_to ' broucher', new_broucher_path %></li></ul>
<% end %>

<% @brouchers.each do |broucher| %>


  <div class="link row clearfix">
       
    
    <h2 style="text-align: center;">
      <%= link_to broucher.document, broucher %>
     </h2>
     
     <h2 style="text-align: center;">
      <%=  broucher.title %>
     </h2>
 </div>

 <% end %>
 <% if seller_signed_in? -%>
 
   
<ul class="nav navbar-nav navbar-left">
  <li ><%= link_to 'Back', stall_path(@stall) %></li>
</ul>
<% end %> 