<% @brouchers.each do |broucher| %>


  <div class="link row clearfix">
       
    
    <h2 style="text-align: center;">
     <%= link_to "Download", broucher.document_url %>
     </h2>
     
     <h2 style="text-align: center;">
      <%= link_to broucher.title, broucher %>
     </h2>
 </div>

 <% end %>
 <% if seller_signed_in? -%>
 
  <%= link_to ' broucher', new_broucher_path %>
   

<% end %> 