<ul id = 'lk'>
<% if user_signed_in? && current_user.likes?(promotion) %>
  <li><i class="glyphicon glyphicon-thumbs-up"></i>      <%= link_to "Unlikes", promotion_like_path(promotion), method: :delete, remote: true %>    <%= promotion.likes.count %></li>
<% else %>
		
  <li  ><i class="glyphicon glyphicon-thumbs-up"></i>         <%= link_to "Likes", promotion_like_path(promotion), method: :post, remote: true %>            <%= promotion.likes.count %></li>
<% end %>
</ul>



