<% if promotion.seller == current_seller %>
<%= div_for(promotion) do %>
	<div class="promotions_wrapper clearfix">
		<div class="pull-left">
			<p class="lead"><%= promotion.destination %></p>
			<p><small>Submitted <strong><%= time_ago_in_words(promotion.created_at) %> ago</strong> by <%= promotion.seller.email %></small></p>
		</div>

	</div>
<% end %>
<% end %>