

<p id="notice"><%= notice %></p>


<table>
  <tr>
    <th style="text-align: center;"><%= @promotion.destination %></th> 
  </tr>
   <tr>
   <td ><%= image_tag @promotion.image.url(:medium) %></br><%= @promotion.details %></td>
  </tr>

</table></br> 
