
<%= div_for(review) do %>
	<table>
  <tr>
    <th><small><%= review.user.email %></small> : 
 
  
      <%= review.rating %></th>

  </tr>
  <tr>

   <td ><%= review.body %></td>
  </tr>

</table></br> 
<% end %>
