

<% if seller_signed_in? -%>





  <%= link_to 'write Review', new_review_path %>
  
 <% end %>

<% @reviews.each do |review| %>
  <div class="link row clearfix">
    <h2>
      <%= link_to review.rating ,review%><br>
      <small class="author">Submitted <%= time_ago_in_words(review.created_at) %> by <%= review.seller.company_name %></small>
    </h2>
   
  </div>

  <% end %>
 
